$primary: #f7f8fa;
$dark: #0C0D10;
$dark-alt: #17181D;
$blue: #0055FF;
$blue-alt: #91d5ff;
$blue-light: #007bff;
$light: #FFFFFF;
$light-alt: #A8ACB1;
$yellow: #FFD700;
$gray: #cbcfd1;
$gray-alt: #99a0a3;
$text-color: #555;

$shadow-sm: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
$shadow-md: 0 0.25rem 1rem rgba(0, 0, 0, 0.4);
$shadow-lg: 0 0.25rem 1rem rgba(0, 0, 0, 0.10);
$shadow-slider: 0 0.25rem 0.6rem rgba(0, 0, 0, 0.15);
$shadow-slider-hover: 0 0.375rem 1rem rgba(0, 0, 0, 0.25);